.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    overflow: hidden;

    /* top: 0; */

}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content:start; */
    /* align-items: center; */
    padding-right: 20px;


}

.logo {
    height: 70px;
    padding-top: 3px;
    margin-left: 130px;
}

.navbar li {
    padding: 0px 20px;
}